<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<map xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
     xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/map.xsd">
    <source>
        <field_rules>
            <ignore>
                <field>catalog_product_entity_group_price.is_percent</field>
            </ignore>
            <ignore>
                <datatype>catalog_product_entity_tier_price.customer_group_id</datatype>
            </ignore>
            <ignore>
                <datatype>catalog_product_entity_group_price.customer_group_id</datatype>
            </ignore>
            <move>
                <field>catalog_product_entity_tier_price.entity_id</field>
                <to>catalog_product_entity_tier_price.row_id</to>
            </move>
        </field_rules>
    </source>
    <destination>
        <field_rules>
            <ignore>
                <field>catalog_product_entity_tier_price.percentage_value</field>
            </ignore>
            <ignore>
                <datatype>catalog_product_entity_tier_price.customer_group_id</datatype>
            </ignore>
        </field_rules>
    </destination>
</map>
