/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/node_modules
/etc/config.xml
/etc/map-eav.xml
/etc/map-eav-list.xml
/etc/map.xml
/etc/map-log.xml
/etc/map-sales.xml
/etc/changelog.xml
/tests/unit/tmp
/tests/unit/phpunit.xml
/tests/integration/etc/config.xml
/tests/integration/etc/mysql.php
/var
