/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/node_modules
/etc/config.xml
/etc/magento_path.php
/tests/unit/tmp
/tests/integration/etc/config.xml