<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="../../../../../etc/config.xsd">
    <steps mode="data">
        <step>Migration\Step\Eav</step>
        <step>Migration\Step\CustomCustomerAttributes</step>
        <step>Migration\Step\Map</step>
        <step>Migration\Step\UrlRewrite</step>
        <step>Migration\Step\Log</step>
        <step>Migration\Step\Ratings</step>
        <step>Migration\Step\SalesOrder</step>
    </steps>
    <steps mode="delta">
        <step>Migration\Step\Map</step>
    </steps>
    <steps mode="settings">
        <step>Migration\Step\Stores</step>
    </steps>
    <source version="1.14.1.0">
        <database host="localhost" name="magento1_integration" user="root" password=""/>
    </source>
    <destination version="2.0.0.0">
        <database host="localhost" name="magento2_integration" user="root" password=""/>
    </destination>
    <options>
        <map_file>etc/map.xml</map_file>
        <eav_map_file>etc/map-eav.xml</eav_map_file>
        <log_map_file>etc/map-log.xml</log_map_file>
        <settings_map_file>settings-map-file.xml</settings_map_file>
        <sales_order_map_file>etc/map-sales.xml</sales_order_map_file>
        <changelog_map_file>etc/changelog.xml</changelog_map_file>
        <bulk_size>100</bulk_size>
        <source_prefix />
        <dest_prefix />
        <auto_resolve_urlrewrite_duplicates>0</auto_resolve_urlrewrite_duplicates>
    </options>
</config>
