<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/config.xsd">
    <steps mode="settings">
        <step title="Settings Step">
            <integrity>Migration\Step\Settings\Integrity</integrity>
            <data>Migration\Step\Settings\Data</data>
        </step>
        <step title="Stores Step">
            <integrity>Migration\Step\Stores\Integrity</integrity>
            <data>Migration\Step\Stores\Data</data>
            <volume>Migration\Step\Stores\Volume</volume>
        </step>
    </steps>
    <steps mode="data">
        <step title="Data Integrity Step">
            <integrity>Migration\Step\DataIntegrity\Integrity</integrity>
        </step>
        <step title="EAV Step">
            <integrity>Migration\Step\Eav\Integrity</integrity>
            <data>Migration\Step\Eav\Data</data>
            <volume>Migration\Step\Eav\Volume</volume>
        </step>
        <step title="Map Step">
            <integrity>Migration\Step\Map\Integrity</integrity>
            <data>Migration\Step\Map\Data</data>
            <volume>Migration\Step\Map\Volume</volume>
        </step>
        <step title="Url Rewrite step">
            <integrity>Migration\Step\UrlRewrite\Version191to2000</integrity>
            <data>Migration\Step\UrlRewrite\Version191to2000</data>
            <volume>Migration\Step\UrlRewrite\Version191to2000</volume>
        </step>
        <step title="Log Step">
            <integrity>Migration\Step\Log\Integrity</integrity>
            <data>Migration\Step\Log\Data</data>
            <volume>Migration\Step\Log\Volume</volume>
        </step>
        <step title="Ratings step">
            <integrity>Migration\Step\Ratings\Integrity</integrity>
            <data>Migration\Step\Ratings\Data</data>
            <volume>Migration\Step\Ratings\Volume</volume>
        </step>
    </steps>
    <steps mode="delta">
        <step title="Map step">
            <delta>Migration\Step\Map\Delta</delta>
            <volume>Migration\Step\Map\Volume</volume>
        </step>
        <step title="Log Step">
            <delta>Migration\Step\Log</delta>
            <volume>Migration\Step\Log</volume>
        </step>
        <step title="SalesOrder step">
            <delta>Migration\Step\SalesOrder\Delta</delta>
            <volume>Migration\Step\SalesOrder\Volume</volume>
        </step>
    </steps>
    <source>
        <database host="localhost" name="magento1_integration" user="root"/>
    </source>
    <destination>
        <database host="localhost" name="magento2_integration" user="root"/>
    </destination>
    <options>
        <map_file>tests/integration/testsuite/Migration/_files/map.xml</map_file>
        <eav_map_file>tests/integration/testsuite/Migration/_files/map-eav.xml</eav_map_file>
        <eav_attribute_groups_file>tests/integration/testsuite/Migration/_files/eav-attribute-groups.xml</eav_attribute_groups_file>
        <eav_document_groups_file>tests/integration/testsuite/Migration/_files/eav-document-groups.xml</eav_document_groups_file>
        <log_map_file>tests/integration/testsuite/Migration/_files/map-log.xml</log_map_file>
        <log_document_groups_file>tests/integration/testsuite/Migration/_files/log-document-groups.xml.dist</log_document_groups_file>
        <settings_map_file>tests/integration/testsuite/Migration/_files/settings.xml</settings_map_file>
        <sales_order_map_file>tests/integration/testsuite/Migration/_files/map-sales.xml</sales_order_map_file>
        <delta_document_groups_file>tests/integration/testsuite/Migration/_files/deltalog.xml</delta_document_groups_file>
        <class_map>tests/integration/testsuite/Migration/_files/class-map.xml</class_map>
        <tier_price_map_file>tests/integration/testsuite/Migration/_files/map-tier-price.xml</tier_price_map_file>
        <tier_price_map_file_fail>tests/integration/testsuite/Migration/_files/map-tier-price-fail.xml</tier_price_map_file_fail>
        <customer_document_groups_file>tests/integration/testsuite/Migration/_files/customer-document-groups.xml</customer_document_groups_file>
        <customer_attribute_groups_file>tests/integration/testsuite/Migration/_files/customer-attribute-groups.xml</customer_attribute_groups_file>
        <customer_map_file>tests/integration/testsuite/Migration/_files/map-customer.xml</customer_map_file>
        <stores_map_file>tests/integration/testsuite/Migration/_files/map-stores.xml</stores_map_file>
        <bulk_size>100</bulk_size>
        <source_prefix />
        <dest_prefix />
        <auto_resolve_urlrewrite_duplicates>1</auto_resolve_urlrewrite_duplicates>
        <edition_migrate>opensource-to-opensource</edition_migrate>
        <edition_number>1.9.2.1</edition_number>
        <init_statements_source>SET NAMES utf8;</init_statements_source>
        <init_statements_destination>SET NAMES utf8;</init_statements_destination>
    </options>
</config>
