<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="./framework/bootstrap.php"
>
    <testsuite name="Migration tool Integration Tests">
        <directory suffix="Test.php">testsuite</directory>
    </testsuite>
    <php>
        <const name="FIXTURE_PREFIX" value="ee."/>
    </php>
    <!-- Test listeners -->
    <listeners>
        <listener class="Migration\TestFramework\Listener"/>
    </listeners>
</phpunit>
