<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<map xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
     xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/map.xsd">
    <source>
        <document_rules>
            <rename>
                <document>enterprise_customer_sales_flat_order</document>
                <to>magento_customercustomattributes_sales_flat_order</to>
            </rename>
            <rename>
                <document>enterprise_customer_sales_flat_order_address</document>
                <to>magento_customercustomattributes_sales_flat_order_address</to>
            </rename>
            <rename>
                <document>enterprise_customer_sales_flat_quote</document>
                <to>magento_customercustomattributes_sales_flat_quote</to>
            </rename>
            <rename>
                <document>enterprise_customer_sales_flat_quote_address</document>
                <to>magento_customercustomattributes_sales_flat_quote_address</to>
            </rename>
        </document_rules>
    </source>
    <destination />
</map>
