<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<groups xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/groups.xsd">
    <group name="catalog_category_entity_varchar">
        <attribute>value_id</attribute>
        <attribute>attribute_id</attribute>
        <attribute>store_id</attribute>
        <attribute>row_id</attribute>
        <attribute>value</attribute>
    </group>
</groups>
