<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<groups xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/groups.xsd">
    <group name="source_documents">
        <document>log_visitor</document>
    </group>
    <group name="destination_documents_to_clear">
        <!--
        <document>log_customer</document>
        <document>log_quote</document>
        <document>log_summary</document>
        <document>log_summary_type</document>
        <document>log_url</document>
        <document>log_url_info</document>
        <document>log_visitor</document>
        <document>log_visitor_info</document>
        <document>log_visitor_online</document>
        -->
    </group>
</groups>
