<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<groups xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/groups.xsd">
    <group name="destination_documents_update_on_duplicate">
        <document key="query_text,store_id">search_query</document>
        <document key="visitor_id,product_id">report_viewed_product_index</document>
    </group>
</groups>
