<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<classmap xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
          xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/class-map.xsd">
    <rename>
        <from>catalogrule/rule_condition_combine</from>
        <to>Magento\CatalogRule\Model\Rule\Condition\Combine</to>
    </rename>
    <rename>
        <from>adminhtml/catalog_category_helper_pricestep</from>
        <to>Magento\Catalog\Block\Adminhtml\Category\Helper\Pricestep</to>
    </rename>
    <rename>
        <from>adminhtml/catalog_category_helper_sortby_available</from>
        <to>Magento\Catalog\Block\Adminhtml\Category\Helper\Sortby\Available</to>
    </rename>
    <rename>
        <from>adminhtml/catalog_category_helper_sortby_default</from>
        <to>Magento\Catalog\Block\Adminhtml\Category\Helper\Sortby\DefaultSortby</to>
    </rename>
    <rename>
        <from>adminhtml/catalog_product_helper_form_msrp_enabled</from>
        <to />
    </rename>
    <rename>
        <from>adminhtml/catalog_product_helper_form_msrp_price</from>
        <to>Magento\Msrp\Block\Adminhtml\Product\Helper\Form\Type\Price</to>
    </rename>
    <rename>
        <from>bundle/product_attribute_source_price_view</from>
        <to>Magento\Bundle\Model\Product\Attribute\Source\Price\View</to>
    </rename>
    <rename>
        <from>catalog/attribute_backend_customlayoutupdate</from>
        <to>Magento\Catalog\Model\Attribute\Backend\Customlayoutupdate</to>
    </rename>
    <rename>
        <from>catalog/category</from>
        <to>Magento\Catalog\Model\ResourceModel\Category</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_backend_image</from>
        <to>Magento\Catalog\Model\Category\Attribute\Backend\Image</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_backend_sortby</from>
        <to>Magento\Catalog\Model\Category\Attribute\Backend\Sortby</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_backend_urlkey</from>
        <to />
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_urlkey</from>
        <to />
    </rename>
    <rename>
        <from>catalog/category_attribute_collection</from>
        <to>Magento\Catalog\Model\ResourceModel\Category\Attribute\Collection</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_source_layout</from>
        <to>Magento\Catalog\Model\Category\Attribute\Source\Layout</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_source_mode</from>
        <to>Magento\Catalog\Model\Category\Attribute\Source\Mode</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_source_page</from>
        <to>Magento\Catalog\Model\Category\Attribute\Source\Page</to>
    </rename>
    <rename>
        <from>catalog/category_attribute_source_sortby</from>
        <to>Magento\Catalog\Model\Category\Attribute\Source\Sortby</to>
    </rename>
    <rename>
        <from>catalog/category_widget_link</from>
        <to>Magento\Catalog\Block\Category\Widget\Link</to>
    </rename>
    <rename>
        <from>catalog/entity_product_attribute_design_options_container</from>
        <to>Magento\Catalog\Model\Entity\Product\Attribute\Design\Options\Container</to>
    </rename>
    <rename>
        <from>catalog/product</from>
        <to>Magento\Catalog\Model\ResourceModel\Product</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_boolean</from>
        <to>Magento\Catalog\Model\Product\Attribute\Backend\Boolean</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_media</from>
        <to />
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_msrp</from>
        <to />
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_price</from>
        <to>Magento\Catalog\Model\Product\Attribute\Backend\Price</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_recurring</from>
        <to />
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_sku</from>
        <to>Magento\Catalog\Model\Product\Attribute\Backend\Sku</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_startdate</from>
        <to>Magento\Catalog\Model\Attribute\Backend\Startdate</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_startdate_specialprice</from>
        <to>Magento\Catalog\Model\Attribute\Backend\Startdate</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_backend_tierprice</from>
        <to>Magento\Catalog\Model\Product\Attribute\Backend\Tierprice</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_collection</from>
        <to>Magento\Catalog\Model\ResourceModel\Product\Attribute\Collection</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_frontend_image</from>
        <to>Magento\Catalog\Model\Product\Attribute\Frontend\Image</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_source_countryofmanufacture</from>
        <to>Magento\Catalog\Model\Product\Attribute\Source\Countryofmanufacture</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_source_layout</from>
        <to>Magento\Catalog\Model\Product\Attribute\Source\Layout</to>
    </rename>
    <rename>
        <from>catalog/product_attribute_source_msrp_type_enabled</from>
        <to />
    </rename>
    <rename>
        <from>catalog/product_attribute_source_msrp_type_price</from>
        <to>Magento\Msrp\Model\Product\Attribute\Source\Type\Price</to>
    </rename>
    <rename>
        <from>catalog/product_status</from>
        <to>Magento\Catalog\Model\Product\Attribute\Source\Status</to>
    </rename>
    <rename>
        <from>catalog/product_visibility</from>
        <to>Magento\Catalog\Model\Product\Visibility</to>
    </rename>
    <rename>
        <from>catalog/product_widget_link</from>
        <to>Magento\Catalog\Block\Product\Widget\Link</to>
    </rename>
    <rename>
        <from>catalog/product_widget_new</from>
        <to>Magento\Catalog\Block\Product\Widget\NewWidget</to>
    </rename>
    <rename>
        <from>catalog/resource_eav_attribute</from>
        <to>Magento\Catalog\Model\ResourceModel\Eav\Attribute</to>
    </rename>
    <rename>
        <from>catalogrule/rule_action_collection</from>
        <to>Magento\CatalogRule\Model\Rule\Action\Collection</to>
    </rename>
    <rename>
        <from>catalogrule/rule_action_product</from>
        <to>Magento\CatalogRule\Model\Rule\Action\Product</to>
    </rename>
    <rename>
        <from>catalogrule/rule_condition_product</from>
        <to>Magento\CatalogRule\Model\Rule\Condition\Product</to>
    </rename>
    <rename>
        <from>catalogrule/rule_product_price</from>
        <to>Magento\CatalogRule\Model\Rule\Product\Price</to>
    </rename>
    <rename>
        <from>cms/widget_block</from>
        <to>Magento\Cms\Block\Widget\Block</to>
    </rename>
    <rename>
        <from>cms/widget_page_link</from>
        <to>Magento\Cms\Block\Widget\Page\Link</to>
    </rename>
    <rename>
        <from>core/design_source_design</from>
        <to>Magento\Theme\Model\Theme\Source\Theme</to>
    </rename>
    <rename>
        <from>customer/address</from>
        <to>Magento\Customer\Model\ResourceModel\Address</to>
    </rename>
    <rename>
        <from>customer/address_attribute_collection</from>
        <to>Magento\Customer\Model\ResourceModel\Address\Attribute\Collection</to>
    </rename>
    <rename>
        <from>customer/attribute</from>
        <to>Magento\Customer\Model\Attribute</to>
    </rename>
    <rename>
        <from>customer/attribute_backend_data_boolean</from>
        <to>Magento\Customer\Model\Attribute\Backend\Data\Boolean</to>
    </rename>
    <rename>
        <from>customer/attribute_collection</from>
        <to>Magento\Customer\Model\ResourceModel\Attribute\Collection</to>
    </rename>
    <rename>
        <from>customer/attribute_data_postcode</from>
        <to>Magento\Customer\Model\Attribute\Data\Postcode</to>
    </rename>
    <rename>
        <from>customer/customer</from>
        <to>Magento\Customer\Model\ResourceModel\Customer</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_backend_billing</from>
        <to>Magento\Customer\Model\Customer\Attribute\Backend\Billing</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_backend_password</from>
        <to>Magento\Customer\Model\Customer\Attribute\Backend\Password</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_backend_shipping</from>
        <to>Magento\Customer\Model\Customer\Attribute\Backend\Shipping</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_backend_store</from>
        <to>Magento\Customer\Model\Customer\Attribute\Backend\Store</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_backend_website</from>
        <to>Magento\Customer\Model\Customer\Attribute\Backend\Website</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_source_group</from>
        <to>Magento\Customer\Model\Customer\Attribute\Source\Group</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_source_store</from>
        <to>Magento\Customer\Model\Customer\Attribute\Source\Store</to>
    </rename>
    <rename>
        <from>customer/customer_attribute_source_website</from>
        <to>Magento\Customer\Model\Customer\Attribute\Source\Website</to>
    </rename>
    <rename>
        <from>customer/entity_address_attribute_backend_region</from>
        <to>Magento\Customer\Model\ResourceModel\Address\Attribute\Backend\Region</to>
    </rename>
    <rename>
        <from>customer/entity_address_attribute_backend_street</from>
        <to>Magento\Eav\Model\Entity\Attribute\Backend\DefaultBackend</to>
    </rename>
    <rename>
        <from>customer/entity_address_attribute_source_country</from>
        <to>Magento\Customer\Model\ResourceModel\Address\Attribute\Source\Country</to>
    </rename>
    <rename>
        <from>customer/entity_address_attribute_source_region</from>
        <to>Magento\Customer\Model\ResourceModel\Address\Attribute\Source\Region</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_backend_array</from>
        <to>Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_backend_datetime</from>
        <to>Magento\Eav\Model\Entity\Attribute\Backend\Datetime</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_backend_time_created</from>
        <to>Magento\Eav\Model\Entity\Attribute\Backend\Time\Created</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_backend_time_updated</from>
        <to>Magento\Eav\Model\Entity\Attribute\Backend\Time\Updated</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_frontend_datetime</from>
        <to>Magento\Eav\Model\Entity\Attribute\Frontend\Datetime</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_source_boolean</from>
        <to>Magento\Eav\Model\Entity\Attribute\Source\Boolean</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_source_table</from>
        <to>Magento\Eav\Model\Entity\Attribute\Source\Table</to>
    </rename>
    <rename>
        <from>eav/entity_increment_numeric</from>
        <to>Magento\Eav\Model\Entity\Increment\NumericValue</to>
    </rename>
    <rename>
        <from>giftmessage/adminhtml_product_helper_form_config</from>
        <to>Magento\GiftMessage\Block\Adminhtml\Product\Helper\Form\Config</to>
    </rename>
    <rename>
        <from>reports/product_widget_compared</from>
        <to>Magento\Reports\Block\Product\Widget\Compared</to>
    </rename>
    <rename>
        <from>reports/product_widget_viewed</from>
        <to>Magento\Reports\Block\Product\Widget\Viewed</to>
    </rename>
    <rename>
        <from>sales/order</from>
        <to>Magento\Sales\Model\ResourceModel\Order</to>
    </rename>
    <rename>
        <from>sales/order_creditmemo</from>
        <to>Magento\Sales\Model\ResourceModel\Order\Creditmemo</to>
    </rename>
    <rename>
        <from>sales/order_invoice</from>
        <to>Magento\Sales\Model\ResourceModel\Order\Invoice</to>
    </rename>
    <rename>
        <from>sales/order_shipment</from>
        <to>Magento\Sales\Model\ResourceModel\Order\Shipment</to>
    </rename>
    <rename>
        <from>sales/widget_guest_form</from>
        <to>Magento\Sales\Block\Widget\Guest\Form</to>
    </rename>
    <rename>
        <from>salesrule/rule_action_collection</from>
        <to>Magento\CatalogRule\Model\Rule\Action\Collection</to>
    </rename>
    <rename>
        <from>salesrule/rule_action_product</from>
        <to>Magento\CatalogRule\Model\Rule\Action\Product</to>
    </rename>
    <rename>
        <from>salesrule/rule_condition_address</from>
        <to>Magento\SalesRule\Model\Rule\Condition\Address</to>
    </rename>
    <rename>
        <from>salesrule/rule_condition_combine</from>
        <to>Magento\SalesRule\Model\Rule\Condition\Combine</to>
    </rename>
    <rename>
        <from>salesrule/rule_condition_product</from>
        <to>Magento\SalesRule\Model\Rule\Condition\Product</to>
    </rename>
    <rename>
        <from>salesrule/rule_condition_product_combine</from>
        <to>Magento\SalesRule\Model\Rule\Condition\Product\Combine</to>
    </rename>
    <rename>
        <from>salesrule/rule_condition_product_found</from>
        <to>Magento\SalesRule\Model\Rule\Condition\Product\Found</to>
    </rename>
    <rename>
        <from>salesrule/rule_condition_product_subselect</from>
        <to>Magento\SalesRule\Model\Rule\Condition\Product\Subselect</to>
    </rename>
    <rename>
        <from>salesrule/rule_customer</from>
        <to>Magento\SalesRule\Model\Rule\Customer</to>
    </rename>
    <rename>
        <from>salesrule/rule_product</from>
        <to>Magento\SalesRule\Model\Rule\Product</to>
    </rename>
    <rename>
        <from>tax/class_source_product</from>
        <to>Magento\Tax\Model\TaxClass\Source\Product</to>
    </rename>
    <rename>
        <from>weee/attribute_backend_weee_tax</from>
        <to>Magento\Weee\Model\Attribute\Backend\Weee\Tax</to>
    </rename>
    <rename>
        <from>sales_entity/order_shipment_attribute_backend_child</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_attribute_backend_child</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/invoice_attribute_backend_child</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_invoice_attribute_backend_child</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_attribute_backend_billing</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_attribute_backend_parent</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_attribute_backend_shipping</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_creditmemo_attribute_backend_child</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_creditmemo_attribute_backend_parent</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_invoice_attribute_backend_order</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_invoice_attribute_backend_parent</from>
        <to></to>
    </rename>
    <rename>
        <from>sales_entity/order_shipment_attribute_backend_parent</from>
        <to></to>
    </rename>
    <rename>
        <from>sales/quote</from>
        <to>Magento\Quote\Model\Quote</to>
    </rename>
    <rename>
        <from>sales/quote_address</from>
        <to>Magento\Quote\Model\Quote\Address</to>
    </rename>
    <rename>
        <from>sales/quote_address_rate</from>
        <to>Magento\Quote\Model\Quote\Address\Rate</to>
    </rename>
    <rename>
        <from>sales/quote_address_item</from>
        <to>Magento\Quote\Model\Quote\Address\Item</to>
    </rename>
    <rename>
        <from>sales/quote_payment</from>
        <to>Magento\Quote\Model\Quote\Payment</to>
    </rename>
    <rename>
        <from>sales/quote_item</from>
        <to>Magento\Quote\Model\Quote\Item</to>
    </rename>

    <rename>
        <from>sales/order_address</from>
        <to>Magento\Sales\Model\Order\Address</to>
    </rename>
    <rename>
        <from>sales/order_item</from>
        <to>Magento\Sales\Model\Order\Item</to>
    </rename>
    <rename>
        <from>sales/order_payment</from>
        <to>Magento\Sales\Model\Order\Payment</to>
    </rename>
    <rename>
        <from>sales/order_status_history</from>
        <to>Magento\Sales\Model\Order\Status\History</to>
    </rename>
    <rename>
        <from>sales/order_shipment_track</from>
        <to>Magento\Sales\Model\Order\Shipment\Track</to>
    </rename>
    <rename>
        <from>sales/order_shipment_item</from>
        <to>Magento\Sales\Model\Order\Shipment\Item</to>
    </rename>
    <rename>
        <from>sales/order_shipment_comment</from>
        <to>Magento\Sales\Model\Order\Shipment\Comment</to>
    </rename>
    <rename>
        <from>sales/order_payment</from>
        <to>Magento\Sales\Model\Order\Payment</to>
    </rename>
    <rename>
        <from>sales/order_invoice_item</from>
        <to>Magento\Sales\Model\Order\Invoice\Item</to>
    </rename>
    <rename>
        <from>sales/order_invoice_comment</from>
        <to>Magento\Sales\Model\Order\Invoice\Comment</to>
    </rename>
    <rename>
        <from>sales/order_creditmemo_item</from>
        <to>Magento\Sales\Model\Order\Creditmemo\Item</to>
    </rename>
    <rename>
        <from>sales/order_creditmemo_comment</from>
        <to>Magento\Sales\Model\Order\Creditmemo\Comment</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_backend_default</from>
        <to>Magento\Eav\Model\Entity\Attribute\Backend\DefaultBackend</to>
    </rename>
    <rename>
        <from>eav/entity_attribute_frontend_default</from>
        <to>Magento\Eav\Model\Entity\Attribute\Frontend\DefaultFrontend</to>
    </rename>
</classmap>
