<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<groups xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/groups.xsd">
    <group name="source_documents">
        <document key="entity_id">sales_flat_order</document>
        <document key="entity_id">sales_flat_order_address</document>
        <document key="entity_id">sales_flat_invoice</document>
        <document key="entity_id">sales_flat_shipment</document>
        <document key="entity_id">sales_flat_creditmemo</document>
        <document key="entity_id">sales_flat_order_payment</document>
    </group>
</groups>
